/* .swiper-container {
	max-width: 600px;
	height: 370px;
	margin:0 auto;
}
.swiper-slide {
	padding-top: 180px;
	text-align: center;
	color: #fff;
	font-size: 30px;
} */
.ui.inverted.secondary.borderless.fixed.pointing.menu{
	background-color: darkcyan;
}
.ui.large.image{
	margin: 80px 0px;
}
.eight.wide.right.floated.column p{
	text-align: left;
}
.eight.wide.right.floated.column h3{
	background-color: #ffebd3;
}
.ui.vertical.stripe.segment h1{
	margin-bottom: 20px;
	display: inline-block;
	border-bottom: 5px solid #58b368
}
.cercle-item{
	margin:30px;
}
.sns-comment{
	margin-top: 50px;
}
.twitter.huge.icon{
	color:#55acee;
}
.instagram.huge.icon{
	color: #E1306C;
}
.youtube.huge.icon{
	color: #cd201f;
}
.ui.inverted.vertical.footer.segment{
	background-color: #454d66;
	padding: 70px 0px;
}
